In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HR_comma_sep.csv')

In [3]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
df.Department.value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: Department, dtype: int64

In [5]:
depart_dummies = pd.get_dummies(df.Department)

In [6]:
depart_dummies.head()

,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,1,0,0

In [7]:
salary_dummies = pd.get_dummies(df.salary)

In [8]:
salary_dummies.head()

   high  low  medium
0     0    1       0
1     0    0       1
2     0    0       1
3     0    1       0
4     0    1       0

In [9]:
df.drop(['salary','Department'],axis=1,inplace=True)

In [10]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
0,0.38,0.53,2,157,3,0,1,0
1,0.80,0.86,5,262,6,0,1,0
2,0.11,0.88,7,272,4,0,1,0
3,0.72,0.87,5,223,5,0,1,0
4,0.37,0.52,2,159,3,0,1,0

In [16]:
df2 = pd.concat([salary_dummies,depart_dummies,df],axis=1)

In [17]:
df2.head()

,high,low,medium,IT,RandD,accounting,hr,management,marketing,product_mng,...,support,technical,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0.38,0.53,2,157,3,0,1,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0.80,0.86,5,262,6,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0.11,0.88,7,272,4,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0.72,0.87,5,223,5,0,1,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0.37,0.52,2,159,3,0,1,0

In [19]:
x = df2.drop('left',axis=1)

In [20]:
x.head()

,high,low,medium,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
0,0,1,0,0,0,0,0,0,0,0,1,0,0,0.38,0.53,2,157,3,0,0
1,0,0,1,0,0,0,0,0,0,0,1,0,0,0.80,0.86,5,262,6,0,0
2,0,0,1,0,0,0,0,0,0,0,1,0,0,0.11,0.88,7,272,4,0,0
3,0,1,0,0,0,0,0,0,0,0,1,0,0,0.72,0.87,5,223,5,0,0
4,0,1,0,0,0,0,0,0,0,0,1,0,0,0.37,0.52,2,159,3,0,0

In [21]:
y = df2['left']

In [22]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: left, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
train_data,test_data,train_target,test_target = train_test_split(x,y,test_size=0.2)

In [25]:
from tensorflow.keras import models

In [26]:
model = models.Sequential()

In [27]:
from tensorflow.keras.layers import *

In [29]:
model.add(Dense(128,activation='relu',input_shape=(train_data.shape[1],)))
model.add(Dense(64,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [31]:
model.compile(loss='binary_crossentropy',optimizer='rmsprop',metrics=['acc'])

In [32]:
model.fit(train_data,train_target,epochs=40)

Epoch 1/40
375/375 [==============================] - 5s 5ms/step - loss: 0.6830 - acc: 0.7258
Epoch 2/40
375/375 [==============================] - 2s 5ms/step - loss: 0.5545 - acc: 0.7617
Epoch 3/40
375/375 [==============================] - 2s 5ms/step - loss: 0.5388 - acc: 0.7617
Epoch 4/40
375/375 [==============================] - 2s 5ms/step - loss: 0.5054 - acc: 0.7617
Epoch 5/40
375/375 [==============================] - 2s 5ms/step - loss: 0.4814 - acc: 0.7582
Epoch 6/40
375/375 [==============================] - 2s 5ms/step - loss: 0.4571 - acc: 0.7591
Epoch 7/40
375/375 [==============================] - 2s 6ms/step - loss: 0.4288 - acc: 0.7714
Epoch 8/40
375/375 [==============================] - 2s 6ms/step - loss: 0.3967 - acc: 0.8004
Epoch 9/40
375/375 [==============================] - 2s 6ms/step - loss: 0.3755 - acc: 0.8193
Epoch 10/40
375/375 [==============================] - 2s 6ms/step - loss: 0.3514 - acc: 0.8374
Epoch 11/40
375/375 [==============================] - 2s 5ms/step - loss: 0.3248 - acc: 0.8567
Epoch 12/40
375/375 [==============================] - 2s 5ms/step - loss: 0.3233 - acc: 0.8560
Epoch 13/40
375/375 [==============================] - 2s 5ms/step - loss: 0.3080 - acc: 0.8657
Epoch 14/40
375/375 [==============================] - 2s 6ms/step - loss: 0.3038 - acc: 0.8672
Epoch 15/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2984 - acc: 0.8746
Epoch 16/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2822 - acc: 0.8815
Epoch 17/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2775 - acc: 0.8854
Epoch 18/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2825 - acc: 0.8842
Epoch 19/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2779 - acc: 0.8864
Epoch 20/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2722 - acc: 0.8905
Epoch 21/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2682 - acc: 0.8896
Epoch 22/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2660 - acc: 0.8925
Epoch 23/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2636 - acc: 0.8930
Epoch 24/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2575 - acc: 0.8989
Epoch 25/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2484 - acc: 0.9011
Epoch 26/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2388 - acc: 0.9042
Epoch 27/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2353 - acc: 0.9065
Epoch 28/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2298 - acc: 0.9097
Epoch 29/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2222 - acc: 0.9121
Epoch 30/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2165 - acc: 0.9192
Epoch 31/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2139 - acc: 0.9205
Epoch 32/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2100 - acc: 0.9218
Epoch 33/40
375/375 [==============================] - 2s 6ms/step - loss: 0.2054 - acc: 0.9233
Epoch 34/40
375/375 [==============================] - 2s 5ms/step - loss: 0.2041 - acc: 0.9254
Epoch 35/40
375/375 [==============================] - 2s 6ms/step - loss: 0.1977 - acc: 0.9281
Epoch 36/40
375/375 [==============================] - 2s 5ms/step - loss: 0.1965 - acc: 0.9304
Epoch 37/40
375/375 [==============================] - 2s 5ms/step - loss: 0.1937 - acc: 0.9332
Epoch 38/40
375/375 [==============================] - 2s 5ms/step - loss: 0.1909 - acc: 0.9320
Epoch 39/40
375/375 [==============================] - 2s 5ms/step - loss: 0.1876 - acc: 0.9365
Epoch 40/40
375/375 [==============================] - 2s 6ms/step - loss: 0.1906 - acc: 0.9373

In [33]:
model.evaluate(test_data,test_target)

94/94 [==============================] - 1s 5ms/step - loss: 0.1824 - acc: 0.9377

[0.18237365782260895, 0.937666654586792]