In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sonar data.csv')

In [3]:
df.head()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
1,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
2,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
3,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R
4,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062,R

In [4]:
df['R'].value_counts()

M    111
R     96
Name: R, dtype: int64

In [5]:
df.shape

(207, 61)

In [6]:
df.describe()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
count,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,...,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000
mean,0.029208,0.038443,0.043837,0.054053,0.075105,0.104599,0.121591,0.134677,0.177361,0.208245,...,0.016034,0.013472,0.010729,0.010917,0.009300,0.008181,0.007771,0.007947,0.007936,0.006523
std,0.023038,0.033040,0.038521,0.046583,0.055669,0.059247,0.061897,0.085340,0.118311,0.134741,...,0.012027,0.009628,0.007071,0.007310,0.007103,0.005719,0.005756,0.006485,0.006196,0.005038
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013300,0.016400,0.018900,0.024450,0.037700,0.066950,0.080600,0.080350,0.096750,0.111150,...,0.008350,0.007350,0.005050,0.005350,0.004100,0.004400,0.003700,0.003600,0.003650,0.003100
50%,0.022800,0.030800,0.034200,0.044100,0.062000,0.092100,0.105600,0.111900,0.152200,0.181000,...,0.013800,0.011500,0.009600,0.009300,0.007500,0.006800,0.005900,0.005800,0.006300,0.005300
75%,0.035800,0.048100,0.058200,0.065700,0.101050,0.134150,0.153050,0.169800,0.231500,0.269000,...,0.020700,0.016750,0.014900,0.014450,0.012100,0.010350,0.010350,0.010400,0.010350,0.008550
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [7]:
dic = {'M':0,'R':1}

In [8]:
df.replace({'R':dic},inplace=True)

In [9]:
df.head()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,1
1,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,1
2,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,1
3,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,1
4,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062,1

In [10]:
df.R.value_counts()

0    111
1     96
Name: R, dtype: int64

In [11]:
x = df.drop('R',axis=1)

In [12]:
x.head()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044
1,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0033,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078
2,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117
3,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0156,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094
4,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0104,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062

In [13]:
y = df['R']

In [14]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: R, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_data,test_data,train_target,test_target = train_test_split(x,y,test_size=0.2,stratify=y)

In [17]:
from tensorflow.keras import models
from tensorflow.keras.layers import *
model = models.Sequential()

In [18]:
df.shape

(207, 61)

In [19]:
train_data.shape

(165, 60)

In [20]:
model.add(Dense(32,activation='relu',input_dim =60)),
model.add(Dense(8,activation='relu')),
model.add(Dense(1,activation='sigmoid'))

model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['acc'])

In [21]:
model.fit(train_data,train_target,epochs=50,verbose=1)

Epoch 1/50
6/6 [==============================] - 1s 5ms/step - loss: 0.6923 - acc: 0.5333
Epoch 2/50
6/6 [==============================] - 0s 7ms/step - loss: 0.6838 - acc: 0.5576
Epoch 3/50
6/6 [==============================] - 0s 7ms/step - loss: 0.6781 - acc: 0.5697
Epoch 4/50
6/6 [==============================] - 0s 6ms/step - loss: 0.6727 - acc: 0.6121
Epoch 5/50
6/6 [==============================] - 0s 6ms/step - loss: 0.6667 - acc: 0.6242
Epoch 6/50
6/6 [==============================] - 0s 7ms/step - loss: 0.6610 - acc: 0.6242
Epoch 7/50
6/6 [==============================] - 0s 6ms/step - loss: 0.6573 - acc: 0.5939
Epoch 8/50
6/6 [==============================] - 0s 5ms/step - loss: 0.6535 - acc: 0.6121
Epoch 9/50
6/6 [==============================] - 0s 6ms/step - loss: 0.6485 - acc: 0.6182
Epoch 10/50
6/6 [==============================] - 0s 6ms/step - loss: 0.6424 - acc: 0.6727
Epoch 11/50
6/6 [==============================] - ETA: 0s - loss: 0.6288 - acc: 0.750 - 0s 5ms/step - loss: 0.6366 - acc: 0.7394
Epoch 12/50
6/6 [==============================] - 0s 7ms/step - loss: 0.6303 - acc: 0.7091
Epoch 13/50
6/6 [==============================] - 0s 5ms/step - loss: 0.6280 - acc: 0.6606
Epoch 14/50
6/6 [==============================] - 0s 5ms/step - loss: 0.6247 - acc: 0.6303
Epoch 15/50
6/6 [==============================] - 0s 6ms/step - loss: 0.6172 - acc: 0.6727
Epoch 16/50
6/6 [==============================] - 0s 6ms/step - loss: 0.6095 - acc: 0.7091
Epoch 17/50
6/6 [==============================] - 0s 6ms/step - loss: 0.6029 - acc: 0.7394
Epoch 18/50
6/6 [==============================] - 0s 5ms/step - loss: 0.5964 - acc: 0.7394
Epoch 19/50
6/6 [==============================] - 0s 6ms/step - loss: 0.5885 - acc: 0.7333
Epoch 20/50
6/6 [==============================] - 0s 7ms/step - loss: 0.5820 - acc: 0.7273
Epoch 21/50
6/6 [==============================] - 0s 6ms/step - loss: 0.5731 - acc: 0.7576
Epoch 22/50
6/6 [==============================] - 0s 8ms/step - loss: 0.5649 - acc: 0.7879
Epoch 23/50
6/6 [==============================] - 0s 5ms/step - loss: 0.5591 - acc: 0.8000
Epoch 24/50
6/6 [==============================] - 0s 4ms/step - loss: 0.5515 - acc: 0.8061
Epoch 25/50
6/6 [==============================] - 0s 6ms/step - loss: 0.5395 - acc: 0.7879
Epoch 26/50
6/6 [==============================] - 0s 5ms/step - loss: 0.5363 - acc: 0.7394
Epoch 27/50
6/6 [==============================] - 0s 6ms/step - loss: 0.5285 - acc: 0.7576
Epoch 28/50
6/6 [==============================] - ETA: 0s - loss: 0.4791 - acc: 0.875 - 0s 6ms/step - loss: 0.5131 - acc: 0.8242
Epoch 29/50
6/6 [==============================] - 0s 7ms/step - loss: 0.5099 - acc: 0.8182
Epoch 30/50
6/6 [==============================] - 0s 6ms/step - loss: 0.5015 - acc: 0.8182
Epoch 31/50
6/6 [==============================] - 0s 5ms/step - loss: 0.4920 - acc: 0.8182
Epoch 32/50
6/6 [==============================] - ETA: 0s - loss: 0.5384 - acc: 0.718 - 0s 4ms/step - loss: 0.4848 - acc: 0.8061
Epoch 33/50
6/6 [==============================] - 0s 4ms/step - loss: 0.4761 - acc: 0.8303
Epoch 34/50
6/6 [==============================] - 0s 7ms/step - loss: 0.4692 - acc: 0.8303
Epoch 35/50
6/6 [==============================] - 0s 4ms/step - loss: 0.4602 - acc: 0.8303
Epoch 36/50
6/6 [==============================] - 0s 5ms/step - loss: 0.4531 - acc: 0.8364
Epoch 37/50
6/6 [==============================] - 0s 5ms/step - loss: 0.4455 - acc: 0.8364
Epoch 38/50
6/6 [==============================] - 0s 5ms/step - loss: 0.4382 - acc: 0.8242
Epoch 39/50
6/6 [==============================] - 0s 6ms/step - loss: 0.4337 - acc: 0.8242
Epoch 40/50
6/6 [==============================] - 0s 7ms/step - loss: 0.4262 - acc: 0.8242
Epoch 41/50
6/6 [==============================] - 0s 5ms/step - loss: 0.4184 - acc: 0.8242
Epoch 42/50
6/6 [==============================] - 0s 5ms/step - loss: 0.4110 - acc: 0.8182
Epoch 43/50
6/6 [==============================] - 0s 5ms/step - loss: 0.4253 - acc: 0.8121
Epoch 44/50
6/6 [==============================] - 0s 8ms/step - loss: 0.4059 - acc: 0.8485
Epoch 45/50
6/6 [==============================] - 0s 6ms/step - loss: 0.3913 - acc: 0.8242
Epoch 46/50
6/6 [==============================] - 0s 7ms/step - loss: 0.3909 - acc: 0.8303
Epoch 47/50
6/6 [==============================] - 0s 8ms/step - loss: 0.3830 - acc: 0.8364
Epoch 48/50
6/6 [==============================] - 0s 6ms/step - loss: 0.3827 - acc: 0.8424
Epoch 49/50
6/6 [==============================] - 0s 5ms/step - loss: 0.3847 - acc: 0.8364
Epoch 50/50
6/6 [==============================] - 0s 7ms/step - loss: 0.3710 - acc: 0.8364

In [22]:
model.evaluate(test_data,test_target)

2/2 [==============================] - 0s 8ms/step - loss: 0.5396 - acc: 0.7619

[0.5396140813827515, 0.761904776096344]